<footer th:fragment="footer">
        <div class="copyright">
            <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by MediQuirk.
            </p>
        </div>

        <div class="links">
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
</footer>