<nav class="main-nav" th:fragment="header">
    <img src="/images/logo/logo1.png" alt="MediQuirk" class="logo">
    <p>MediQuirk</p>
    <ul class="left-menu">
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Danh mục</a></li>
    </ul>

    <ul class="right-menu">
        <li>
            <a href="#">
                <i class="bi bi-search"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-cart3"></i>
            </a>
        </li>
    </ul>
</nav>