<div class="coupon-terms" th:fragment="coupon">
    <h2>THỂ LỆ CHƯƠNG TRÌNH TẶNG COUPON 50K</h2>
    <h3>Điều kiện sử dụng coupon</h3>
    <p>Coupon áp dụng giảm ngay 50.000 VNĐ cho đơn hàng có giá trị từ 500.000 VNĐ.</p>
    <ul>
        <li>Thời gian sử dụng coupon: Thứ 5 và Thứ 6 hàng tuần</li>
        <li>Khách hàng vui lòng nhập mã ưu đãi khi mua đơn hàng online trên web của MediQuirk</li>
        <li>Mỗi khách hàng chỉ được dùng 1 coupon, coupon không được hoàn khi hủy đơn - Không quy đổi thành tiền
            mặt.
        </li>
        <li>Không áp dụng cho các sản phẩm Tã - Sữa, Thực phẩm chức năng.</li>
        <li>Khách hàng vẫn nhận được coupon CTKM khác (nếu thỏa điều kiện)</li>
        <li>Số lượng có hạn trong ngày, chỉ áp dụng cho một số sản phẩm nhất định</li>
    </ul>
    <p>Xem chi tiết tại: <a href="#"></a></p>
    <p class="contact-info">
        Để biết chi tiết về chương trình và phản hồi về các thắc mắc nếu có, khách hàng vui lòng liên hệ hotline
        0000000 (miễn cước) để được tư vấn.
    </p>
</div>