<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Admin/layout}">
<body>
<section layout:fragment="content" class="right-content mt-4 ms-3">
    <div class="flex justify-between items-center mb-4 mx-auto">
        <div class="flex space-x-2">
            <p class="fs-3 text-primary">Sản phẩm</p>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3 px-3 mt-5">
        <div class="input-group w-25">
            <input type="text" class="form-control" placeholder="Search ...">
            <button class="btn btn-light border border-secondary " type="button" style="border-left: none; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                <i class="bi bi-search"></i>
            </button>
        </div>
        <a th:href="@{/product/add}" class="btn btn-primary">Add New Product</a>
    </div>
    <div class="container">
        <table class="table table-bordered  table-striped table-hover">
            <thead class="head-dark">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Prescription Required</th>
                <th scope="col">Category</th>
                <th scope="col">Supplier</th>
                <th scope="col">Actions</th>
                <th scope="col">Add To Cart</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}" class="text-center"></td>
                <td th:text="${product.imageUrl}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.prescriptionRequired}"></td>
                <td th:text="${product.category.categoryName}"></td>
                <td th:text="${product.supplier.supplierName}"></td>
                <td th:text="${product.}"></td>
                <td class="text-center ">

                    <a th:href="@{/products/edit/{id}(id=${product.productId})}"
                       class="btn btn-outline-primary btn-sm mr-1">
                        <i class="bi bi-pencil-square"></i> Chỉnh sửa
                    </a>

                    <a th:href="@{/products/delete/{id}(id=${product.productId})}"
                       class="btn btn-outline-danger btn-sm"
                       onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');">
                        <i class="bi bi-trash3"></i> Xóa
                    </a>
                </td>
                <td>
                    <form th:action="" method="post">
                        <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block" style="width: 70px;">
                        <input type="hidden" th:value="${product.productId}" name="productId"/>
                        <button type="submit" class="btn btn-warning btn-sm">Add to Cart</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</section>
</body>
</html>