<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="User/fragments/head ::head"></head>
<body>
<nav th:replace="User/fragments/test ::header"></nav>
<div class="container mt-5">
    <section layout:fragment="content">
        <!-- Nội dung cụ thể của từng trang sẽ được đặt tại đây -->
    </section>
</div>
<footer th:replace="User/fragments/footer ::footer"></footer>
<script th:replace="User/fragments/scripts ::scripts"></script>
</body>
</html>
